{
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 100,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
