@font-face {
  font-family: "Overpass";
  src: url("./overpass-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Overpass";
  src: url("./overpass-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "Overpass";
  src: url("./overpass-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Overpass";
  src: url("./overpass-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
