@font-face {
  font-family: "Overpass";
  src: url("./overpass.woff2") format("woff2");
  font-style: normal;
  font-display: block;
  font-weight: 200 900;
}

@font-face {
  font-family: "Overpass";
  src: url("./overpass-italic.woff2") format("woff2");
  font-style: italic;
  font-display: block;
  font-weight: 200 900;
}
